.profile__edit-button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  margin: 6.5px 10px 0 0;
  padding: 0;
  display: flex;
  background-image: url(../../../images/images/Edit\ Button.svg);
  background-size: cover;
  max-width: 24px;
  width: 24px;
  height: 24px;
  overflow: hidden;

}
.profile__edit-button:hover{
  background-color: black;
  opacity: 0.6;
}
@media screen and (max-width: 1024px){
  .profile__edit-button {
    align-self: flex-end;
    margin: 0 0 9.5px 0;
  }
}
@media screen and (max-width: 560px){
  .profile__edit-button {
    max-width: 18px;
    max-height: 18px;
    margin: 0 auto 6.5px auto;
  }
}
/* grid-area: edit-button;*/
/*background-image: url(../../../images/images/Edit\ Button.svg);
width: 24px;
height: 24px;
align-self: center;*/
