.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  width: 430px;
  min-height: 294px;
  background: #FFFFFF;
  border-radius: 10px;
  opacity: 1;
  position: relative;
  z-index: 25;
  padding: 0 0 36px 0;
}
@media screen and (max-width: 560px){
  .popup__container {
    width: 282px;
  }
}
