.popup__button {
  border: none;
  font: inherit;
  color: #FFFFFF;
  background: none;
  display: block;
  width: 358px;
  height: 50px;
  background-color: black;
  outline: none;
  border-radius: 2px;
  text-decoration: none;
  padding: 0;
  margin: 47px auto 0 auto;
  appearance: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.popup__button:hover {
  background: #000000;
  opacity: 0.8;
}
.popup__button:disabled {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 560px){
  .popup__button {
    max-width: 238px;
    height: 46px;
    margin: 43px auto 0px auto;
    font-size: 14px;
    line-height: 17px;
  }
}
