.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 41px 0;
  border-bottom: 1px solid rgb(33%, 33%, 33%, 0.7);
}
@media screen and (max-width: 1000px){
  .header {
    max-width: 100%;
  }
}
@media screen and (max-width: 560px){
  .header {
    padding: 0 0 31.6px 0;
    gap: 31.6px;
    margin: 28px 0 0 0;
  }
}
