.profile__add-button {
  border: none;
  font: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  margin:  0 0 6.5px 0;
  padding: 0;
  background-image: url(../../../images/images/Add\ Button.svg);
  background-size: cover;
  width: 150px;
  height: 50px;
}
.profile__add-button:hover{
  background-color: black;
  opacity: 0.6;
  transition: 0.5ms;
}
@media screen and (max-width: 1024px){
  .profile__add-button {
    align-self: start;
    margin: 36px 0 0 30px;
  }
}
@media screen and (max-width: 640px){
  .profile__add-button {
    align-self: center;
    margin: 36px auto 0 auto;
    width: 282px;
    background-image: url(../../../images/images/Add\ Button\ mobile.svg);
  }
}
/* -- кнопка выше у меня  отображается корректно на мобильном медиазапросе, скрин в image --- */
