.popup__image {
  width: 816px;
  height: 540px;
  background-size: cover;
  object-fit: cover;
  color: #000;
}
@media screen and (max-width: 1000px){
  .popup__image {
    width: 433px;
  }
}
@media screen and (max-width: 650px){
  .popup__image {
    width: 282px;
    height: 299px;
  }
}
