.popup__close-icon {
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  display: block;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/images/Close\ Icon.svg);
  width: 32px;
  height: 32px;
}
.popup__close-icon:hover{
  background-image: url(../../../images/images/Close\ Icon\ gray.svg);
}
@media screen and (max-width: 560px){
  .popup__close-icon {
    background-image: url(../../../images/images/Close\ Icon\ small.svg);
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}
