.profile__avatar{
  width: 120px;
  min-width: 120px;
  height: 120px;
  background-image: url(../../../images/images/profile-image.jpg);
  background-size: cover;
  border-radius: 50%;
  outline: 1px solid rgb(52, 165, 76);
}
@media screen and (max-width: 1024px){
  .profile__avatar {
    margin: 0 0 22.25px 30px;
  }
}
@media screen and (max-width: 640px){
  .profile__avatar {
    margin: 0 auto 22.25px auto;
}
}
