.elements__item_place_california {
  background-image: url(../../../../images/images/california.jpg);
  background-size: cover;
  object-fit: contain;
}
/*
@media screen and (max-width: 560px){
  .elements__item_place_california {
    background-image: url(../../../../images/images-small/california.jpg);
  }
}
*/
