.popup__container_place_image-popup {
  display: block;
  margin: auto;
  width: 816px;
  height: 540px;
}
@media screen and (max-width: 1000px){
  .popup__container_place_image-popup {
    width: 433px;
  }
}
@media screen and (max-width: 650px){
  .popup__container_place_image-popup {
    width: 282px;
    height: 299px;
  }
}
