.elements__item {
  margin: 0;
  padding: 0;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  outline: 1px solid rgb(52, 165, 76);
}
/*
@media screen and (max-width: 1024px){
  .elements__item {
    max-width: 300px;
  }
}
@media screen and (max-width: 768px){
  .elements__item {
    max-width: 352px;
  }
}
@media screen and (max-width: 560px){
  .elements__item {
    max-width: 100%;
  }
}
@media screen and (max-width: 320px){
  .elements__item {
    max-width: 288px;
  }
}
*/
