.popup__card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  width: 430px;
  height: 330px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  opacity: 1;
  position: relative;
  z-index: 25;

}
@media screen and (max-width: 560px){
  .popup__card {
    width: 282px;
  }
}
