.popup__button_place_add {
  border: none;
  font: inherit;
  color: #FFFFFF;
  background: none;
  display: block;
  width: 358px;
  height: 50px;
  background-color: black;
  outline: none;
  border-radius: 2px;
  text-decoration: none;
  padding: 0;
  margin: 47px 36px 37px 36px;
  appearance: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.popup__button_place_add:hover {
  background: #000000;
  opacity: 0.8;
}
@media screen and (max-width: 560px){
  .popup__button_place_add {
    max-width: 238px;
    height: 46px;
    margin: 43px 22px 0px 22px;
    font-size: 14px;
    line-height: 17px;
  }
}
